# Python
backend/venv/
venv/
__pycache__/
*.pyc

# Node
node_modules/

# Environment variables
.env

# ML dataset
backend/ml/dataset/

# (Optional) Ignore trained models if you'll share them separately
# backend/ml/saved_models/