__pycache__/
*.pyc
venv/
.env
backend/ml/dataset/
backend/ml/dataset.zip
backend/ml/saved_models/
*.h5
*.pkl
backend/app/static/asl/
backend/audio_output/
audio_output/
node_modules/
frontend/build/
.DS_Store
Thumbs.db
